header{
    margin: 15px;
    border-bottom: salmon 1px solid;
    font-family: 'Dancing Script';
    font-size: 42px;
}

main{
    font-family: 'Libre Baskerville', serif;
    padding-top: 100px;

}

main h2{
    padding-bottom: 20px;
    font-style: italic;

}

main article, main aside{
    padding-top: 100px;
}

main article a{
    text-decoration: none;
    padding: 8px;
    color: white;
    border-radius: 10px;
    transition: .3s;
    background-color: salmon;
}

main article a:hover{
    color: white;
    background-color: tomato;
    
}

.span_article{
    margin-top: 40px;
    font-size: 12px;
    opacity: .5;
}